*{
    margin: 0px;
    padding: 0px;
}
.logo-photo{
    width: 150px;
    padding-left: 100px;
}
.menu-container{
    background-color: black;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px ;

}

.menu{
    display: flex;
    padding-left: 20px;
}
.item{
    font-size: 20px;
    align-items: center;
    justify-content:space-around;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.btn{
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    font-size:15px ;
    background-color: aliceblue;
    align-items: center;
    cursor: pointer;
}



.banner-containner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding-left: 150px;
    margin-right: 0px;
    margin-left: 0px;
}

.bn-image{
    width: 700px;
    
}

.texth1{
    font-size: 60px ;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

}
.texth5{
    font-size: 30px;
    padding-top: 20px;
}
.p1{
    font-size: 20px;

}
.btn2{
    margin-top: 30px;
    background-color: black;
    color:white;
}


.about-containner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-image: url("/image/bg1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-right: 120px;
    color: white;
    

}
.about-image{
    width: 400px;
}

.services-containner{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    padding-top: 40px;
    padding-right: 120px;
    padding-left: 150px;
}

.box{
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px;

}
.box-icon{
    width: 200px;
}
.box-btn{
    padding: 10px 20px;
    background-color:red ;
    color:white;
    margin-top: 20px;
    box-shadow: none;
}
.box-title{
    font-size: 20px;
    padding-bottom: 10px;
}
.box-description{
    font-size: 15px;
}
.service-text{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
    margin-top: 20px;
}
